<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>个人微博后台</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo base_url();?>admin/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url();?>admin/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url();?>admin/css/bootstrap-theme.css" media="all">
    <link href="<?php echo base_url();?>admin/datetimepicker/css/datetimepicker.css" rel="stylesheet">
    <link href="<?php echo base_url();?>admin/datetimepicker/css/dropdown.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?php echo base_url();?>admin/css/dashboard.css" rel="stylesheet">
    <link href="<?php echo base_url();?>admin/css/wanglibao.css" rel="stylesheet">
    <link href="<?php echo base_url();?>admin/css/wanglibaogold.css" rel="stylesheet">
    <!-- TMagnify load  css start -->
    <link href="<?php echo base_url();?>admin/css/smoothproducts.css" rel="stylesheet">

    <script src="<?php echo base_url();?>admin/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="<?php echo base_url();?>admin/js/jquery.min.js"></script>-->
    <script src="<?php echo base_url();?>admin/js/jquery_and_jqueryui.js"></script>
    <script src="<?php echo base_url();?>admin/js/bootstrap.min.js"></script>

    <script src="<?php echo base_url();?>admin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="<?php echo base_url();?>admin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!--<script src="<?php echo base_url();?>admin/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="<?php echo base_url();?>admin/layer/layer.js"></script>
    <script type="text/javascript" src="<?php echo base_url();?>admin/js/plupload.js"></script>
    <!-- TMagnify load  css start -->
    <script type="text/javascript" src="<?php echo base_url();?>admin/js/smoothproducts.js"></script>
    <script type="text/javascript" src="<?php echo base_url();?>admin/js/smoothproducts.min.js"></script>
    <script src="<?php echo base_url();?>admin/js/hcharts/highcharts.js"></script>
    <script src="<?php echo base_url();?>admin/js/hcharts/exporting.js"></script>
    <!-- TMagnify load css end -->
      <style>

          form i{
              color: red;
          }
      </style>
  </head>

  <body>
  <?php include("admin_menu.html");?>