
<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="bar" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?=site_url()?>/admin/index">个人微博后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">管理员： <?=$userInfo['name']?></a></li>
                <li><a href="loginout">退出</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar side-menu">

            <?php foreach($nodelist as $item):?>
            <ul class="nav nav-sidebar {if $ppid == $item.id} on {/if} ">
                <li class="active active">
                    <a><?=$item['remark']?></a><i class="ion {if $ppid == $item.id} iactive {/if}"> > </i>
                </li>
                <?php if(isset($item['child'])):?>
                <?php foreach ($item['child'] as $k):?>
                <li class="<?php if (isset($pid) && $pid == $k['id']):?> 'act'<?php endif; ?>"><a href="<?=site_url().'/'.$k['url']?>" ><?=$k['remark']?></a></li>
                <?php endforeach; ?>
                <?php endif; ?>
            </ul>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".side-menu .active").on("click",function(){
        $(this).find(".ion").toggleClass("iactive");
        $(this).parent().children(":not('.active')").stop(true).slideToggle();
    })
</script>
