<?php include("admin_header.html");?>
<script type="text/javascript" charset="utf-8" src="<?php echo base_url();?>admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo base_url();?>admin/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="<?php echo base_url();?>admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo base_url();?>admin/uploadify/newup.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>admin/uploadify/newup.css" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
             <div class="top-title">
            <h2 class="sub-header">新增banner</h2>
            <div class="top-tools">
              <a class="btn btn-default" onclick="window.history.back()">返回</a>
            </div>
          </div>
          <div id="myTabContent" class="tab-content" style="margin-top:10px">

             <!-- start 线下合同 -->
             <div class="tab-pane fade in active" id="no2">
           
              <form class="form-horizontal"   method="post" >
			        
                <div class="form-group">
                  <label class="col-sm-2 control-label">banner名称：<code>*</code></label>
                  <div class="col-sm-7">
                    <input type="text" name="name" value="<?php echo $banner['name']; ?>" class="form-control" placeholder="banner名称">
                  </div>
                </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">分类：<code>*</code></label>
                      <div class="col-sm-7">
                          <input type="text" name="type" value="<?php echo $banner['type']; ?>" class="form-control" placeholder="分类">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">desc：<code>*</code></label>
                      <div class="col-sm-7">
                          <input type="text" name="desc" value="<?php echo $banner['desc']; ?>" class="form-control" placeholder="描述">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">client：<code>*</code></label>
                      <div class="col-sm-7">
                          <input type="text" name="client" value="<?php echo $banner['client']; ?>" class="form-control" placeholder="client">
                      </div>
                  </div>
                  <div class="form-group">
                      <label  for="inputSelect" class="col-sm-2 control-label">展示图片：</label>
                      <div class="col-sm-7">
                          <div class="input-group">
                              <div>
                                  <div id="queue">
                                  </div>
                                  <input id="file_upload" name="file_upload" type="file" multiple="true">
                              </div>
                              <div id="uploadfiles">
                              </div>
                              <div id="fileQueue" style="clear:both">
                              </div>
                              <script type="text/javascript">
                                  var timestamp = new Date().getTime();
                                  var token =md5('unique_salt'+timestamp);
                                  $(function() {
                                              $('#file_upload').uploadify({
                                                          'buttonText': '选择文件..',
                                                          'fileObjName': 'simplefile',
                                                          'method': 'post',
                                                          'multi': false,
                                                          'queueID': 'fileQueue',
                                                          'queueSizeLimit' : '1',
                                                          // 'uploadLimit': 1,
                                                          'fileSizeLimit':'512KB',
                                                          'fileTypeExts': '*.gif;*.png;*.jpg;*.bmp;*.jpeg;',//本实例服务端限制只有图片才能上传，所有这里修改别的文件格式也不会真正上传
                                                          'buttonImage': '../../admin/uploadify/select.png',
                                                          'formData'     : {
                                                              'timestamp' : timestamp,
                                                              'token'     : token
                                                          }
                                                          ,
                                                          'swf': '../../admin/uploadify/uploadify.swf',
                                                          'uploader' : '../../admin/uploadify/uploadify.php',
                                                          'onUploadStart': function () {
                                                              $imgHtml = '<img class="upload_load" src="<?php echo  base_url();?>admin/uploadify/upload.gif" align="absmiddle" />';
                                                              $('#uploadfiles').append($imgHtml);
                                                          }
                                                          ,
                                                          'onUploadSuccess': function(file, data, response) {
                                                              $('.upload_load').remove();
                                                              var json = $.parseJSON(data);
                                                              console.log(json);
                                                              if (json.state == 'success') {
                                                                  $imgHtml ='<span id="file_'+json.file_id+'">';
                                                                  $imgHtml += '<a href="'+ json.file + '" target="_blank">';
                                                                  $imgHtml += '<img src="'+json.file+'" width="100" height="100"  align="absmiddle"/>';
                                                                  $imgHtml += '</a>';
                                                                  $imgHtml += '<a href="javascript:uploadifyRemove(&quot;' + json.file + '&quot;,&quot;'+ json.path +'&quot;)">删除</a>';
                                                                  $imgHtml +='</span>';
                                                                  $($imgHtml).appendTo('#uploadfiles');
                                                              }
                                                              else {
                                                                  alert(json.message);
                                                              }
                                                          }
                                                          ,
                                                          'onQueueComplete':function () {
                                                              $('.upload_load').remove();
                                                          }
                                                      }
                                              );
                                          }
                                  );
                                  //删除文件
                                  function uploadifyRemove(filePath,path){
                                      if(confirm('确定要删除吗？')){
                                          $.post("deluploadify",{
                                                      filePath:filePath,
                                                      Path:path}
                                                  ,function(res){console.log(res);

                                                      $('a[href="'+res+'"]').parent().remove();
                                                  }
                                          );
                                      }
                                  }
                              </script>
                          </div>
                      </div>
                  </div>
                 <!-- <div class="form-group">
                      <label  for="inputSelect" class="col-sm-2 control-label">状态：</label>
                      <div class="col-sm-7">
                          <div class="input-group">
                              <select class="form-control" name="status" id="status">
                                  <option value="1" >显示</option>
                                  <option value="0" >隐藏</option>
                              </select>
                      &lt;!&ndash;<span class="input-group-btn">
                        <button class="btn btn-default addbank" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </span>&ndash;&gt;
                          </div>
                      </div>-->
                  </div>
                  <div class="form-group">
                      <div class="col-sm-7">
                          <button type="button" class="btn btn-primary add_companys pull-right" >提交</button>
                      </div>

                  </div>


              </form>

             </div>
             <!-- end 线下合同 -->

  
          </div>
          <hr/>




        </div>



<script>

var saving = false;
$('#form02').submit(function()
{
  saving = true;
});

window.onbeforeunload = function() { 
  if (saving)
    return;
  if(is_form_changed()) { 
    return "您的修改内容还没有保存，您确定离开吗？"; 
  } 
} 

</script>

<script>
$(".add_companys").click(function(){
   var name=$('input[name=name]').val();
   var type=$('input[name=type]').val();
   var desc=$('input[name=desc]').val();
   var client=$('input[name=client]').val();
   var url = $('#uploadfiles img').attr('src');
   if($.trim(name)==''){
       throwExc('banner名称必须填写');
       return false;
   }
    if($.trim(type)==''){
        throwExc('图片分类必须填写');
        return false;
    }
    if($.trim(desc)==''){
        throwExc('描述必须填写');
        return false;
    }
    if($.trim(client)==''){
        throwExc('client必须填写');
        return false;
    }
    if($.trim(url)==''){
        throwExc('banner图片不能为空');
        return false;
    }

    $.post("",{
              'type':type,
              'name':name,
              'desc':desc,
              'client':client,
              'url':url
          },function( response ){
              if(response.error==100) {
                  throwExc(response.msg);
                  return false;
              }else if(response.error==200) {
                  showSucc(response.msg);
                  console.log(response);
                  setTimeout("load()",100000);
              }
          },"json");
});

function load(){
    window.location.href="lists";
}

</script>
<script>
    var path = "<?php echo $targetPath;?>";
    console.log(path);
    var file = "<?php echo $banner['url'];?>";
    $imgHtml ='<span id="file_'+1+'">';
    $imgHtml += '<a href="'+ file + '" target="_blank">';
    $imgHtml += '<img src="'+file+'" width="100" height="100"  align="absmiddle"/>';
    $imgHtml += '</a>';
    $imgHtml += '<a href="javascript:uploadifyRemove(&quot;' + file + '&quot;,&quot;'+ path +'&quot;)">删除</a>';
    $imgHtml +='</span>';
    $($imgHtml).appendTo('#uploadfiles');
</script>
<?php include("admin_footer.html");?>