	<div class="cloud">
	     <h3>标签云</h3>
		  <ul>
			  <?php foreach($taglist as $k):?>
			  <li><a href="<?=$k['url']?>"><?=$k['tagname']?></a></li>
			  <?php endforeach;?>
		  </ul>
	   </div>
	  <!-- <div class="tuwen">
	     <h3>图文推荐</h3>
		 <ul>
		   <li><a href="/"><img src="<?php echo base_url();?>index/images/01.jpg"><b>住在手机里的朋友</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p>
		   </li>
		   <li><a href="/"><img src="<?php echo base_url();?>index/images/02.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="<?php echo base_url();?>index/images/03.jpg"><b>手机的16个惊人小秘密，据说99.999%的人都不知</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="<?php echo base_url();?>index/images/06.jpg"><b>原来以为，一个人的勇敢是，删掉他的手机号码...</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="<?php echo base_url();?>index/images/04.jpg"><b>豪雅手机正式发布! 在法国全手工打造的奢侈品</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		 </ul>
	   </div>-->
	   <div class="ad"><img src="<?php echo base_url();?>index/images/03.jpg"></div>
	   <div class="links">
	     <h3><!--<span><a href="/">申请友情链接</a></span>-->友情链接</h3>
		 <ul>
			 <?php foreach($links as $link):?>
			 <li><a href="<?=$link['link']?>"><?=$link['link_name']?></a></li>
			 <?php endforeach;?>
		 </ul>
	   </div>
	 </div>
  </article>
</body>
</html>