<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>青檀云境</title>
    <meta name="关键字" content="">
    <link href="<?php echo base_url();?>index/css/buju.css" rel="stylesheet">
    <link href="<?php echo base_url();?>index/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="<?php echo base_url();?>index/js/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url();?>index/js/sliders.js"></script>
</head>
<body>
<header>
    <div class="logo f_l">
        <a href="#">
            <img src="<?php echo base_url();?>index/images/logo1.png">
        </a>
    </div>
    <div id="topnav" class="f_r">
        <ul>
            <a href="<?php echo base_url();?>index.php/Blogs/index" target="_self" <?php if($func=='index'):?>id="topnav_current"<?php endif;?>>首页</a>
            <a href="<?php echo base_url();?>index.php/Blogs/about" target="_self" <?php if($func=='about'):?>id="topnav_current"<?php endif;?>>关于我</a>
            <a href="#" target="_self">文章</a>
            <a href="#" target="_self">心情</a>
            <a href="#" target="_self">相册</a>
            <a href="#" target="_self">留言</a>
        </ul>
    </div>
</header>